@import './navbar.css';
@import './index.css';


html {
  background-color:  #eae3db;
}

body {
  background-color: #eae3db;
}

.homeimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 480px;
  max-height: 525px;
}

.bio {
  width: 100px;
  height: 100px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.navbar {
  text-decoration: none;
}
